{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Module 1, Question 1</legend>
                <div class="form-group">
                    {{ form.module1_q1_string.label(class="form-control-label") }}
                    {% if form.module1_q1_string.errors %}
                        {{ form.module1_q1_string(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.module1_q1_string.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.module1_q1_string(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}