{% extends "layout.html" %}
{% block content %}

    <!-- Header -->
<section xmlns="http://www.w3.org/1999/html">
        <header class="header_css", style="background-color=#f2d95c">
            <div class="container">
                <div>
                    <h1> <span class="text-warning"> Ch13. Sustainable Development. SDG11: Sustainable Cities and Communities</span></h1>
                    <p class="mb-1">
                        The 21st century has been called the “urban century” by UN-Habitat (the United Nations agency responsible for sustainable
                        human settlements) and by many others. In fact, over 50% of the global population now lives in urban areas,
                        and this trend will continue. This chapter studies the key role that cities can play mitigating climate change by
                        introducing innovative transport, recycling and building policies.
                    </p>
                    </br>
                    <div class="container_buttons_links_header">
                       <div class="btn">
                           <a href="{{url_for('static', filename='material/se/ch13/ch13_material.pdf')}}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Material</a>
                       </div>
                    </div>
                    </br>

                   <div class="list-group", style="padding: 15px 0px;">
                      <a href="#introduction" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Introduction</h5>
                        </div>
                        <p class="mb-1">
                            We explore the role that cities will play in sustainability, the key indicators that define a sustainable
                            city and a sustainable neighbourhood. We also explore the main changes in urban infrastructure
                            and planning in sustainable urban areas.
                        </p>

                      </a>
                      <a href="#processes" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Processes of sustainable urban transformation</h5>
                        </div>
                        <p class="mb-1">
                            We discuss three key areas that help to define sustainable urban transformation.
                        </p>
                      </a>
                      <a href="#experiments" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Climate governance and urban experiments</h5>
                        </div>
                        <p class="mb-1">
                            Experiments in urban areas contribute to introduce new ideas to promote improvements in environment
                            and citizens well-being. We study some experiments that have taken place in prominent cities.
                        </p>
                      </a>
                      <a href="#infrastructure" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Urban infrastructure and planning</h5>
                        </div>
                        <p class="mb-1">
                            We study the role of infrastructure and planning in urban development. We pay special attention to
                            urban mobility.
                        </p>
                      </a>
                      <a href="#neighbourhoods" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Sustainable neighbourhoods</h5>
                        </div>
                        <p class="mb-1">
                            Neighbourhoods are playing a crucial role in sustainable urban transformation. We study some successful
                            experiences and the principles that define a sustainable neighbourhood.
                        </p>
                      </a>
                   </div>
                </div>
                <img
                src="{{url_for('static', filename='figures/se/ch13/ch13_icon.svg')}}"
                        alt=""/>
            </div>
        </header>
    </section>


<!--introduction-->
   <section id="introduction" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">

        <div class="container">



            <div class="section_intro_css">
                <div class="box">

                </div>
                <div class="box">
                <h3 style="justify-content:center;">Introduction</h3>
                <p>
                    Which will be the role of cities to decarbonize the economic system? Which is the key indicators that define a sustainable
                    city and a sustainable neighbourhood? Which is the right way to plan urban infrastructure to achieve sustainable cities?
                </p>
                </div>
                <div class="box">

                </div>
            </div>
        </div>

    </section>


<!--Section 1 (grey)-->
    <section id="processes" class="p-5 p-lg-5 pt-lg-5 text-white text-center text-sm-start", style="background-color:#6c757d;">
        <div class="container">

            <h2>Processes of sustainable urban transformation</h2>

            <p>
                The 21st century has been called the “urban century” by UN-Habitat (the United Nations agency responsible for sustainable
                human settlements) and by many others. In fact, over 50% of the global population now lives in urban areas,
                and this trend will continue.
                </br>
                </br>
                There are three key areas to discuss when it comes to sustainable
                urban transformation: Governance and planning, innovation and business, and lifestyles and consumption.
            </p>

            <!--Enumerated list (table)-->
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Governance and planning.</div>
                  <p class="text-right">
                      Effective strategic planning and integration of policy
                      instruments is essential. Such efforts should be interconnected across sectors and adapted for
                      specific urban and national policy conditions to ensure empowerment, engagement and collaboration
                      of relevant stakeholders.
                      </br>
                      </br>
                      In order for strategic planning to be effective, however, three key policy challenges have to be taken into account:
                      </br>
                      <ol type="a">
                        <li>Policies must be ambitious but politically and economically
                        realistic.</li>
                        </br>
                        <li>Policies must be developed quickly and with flexibility for rapidly changing urban conditions.</li>
                        </br>
                        <li>Contradictory policies have to be eliminated.</li>
                    </ol>
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Innovation and business.</div>
                  <p class="text-right">
                        There are significant challenges in reconciling economic growth and maintaining or restoring local and global environment. Innovation and clean technology
	                    are key parts of a green economy, but also for fostering urban competitiveness in a globalising economy.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Lifestyles and consumption.</div>
                  <p class="text-right">
                      Negative implications of over-consumption are particularly evident in cities.
                  </p>
                </div>
              </li>
            </ol>


        </div>
    </section>

<!--Section 2 (blue)-->
    <section id="experiments" class="p-5 p-lg-5 pt-lg-5 text-white text-center text-sm-start", style="background-color:#007bff;">
        <div class="container">

            <h2>Climate governance and urban experiments</h2>

            <p>
                From the early 2000s, we can identify a new wave of action. Over the past decade, we have seen a greater
                range and diversity of cities getting involved with responses to climate change. A number of city networks (such as ICLEI – Local
                Governments for Sustainability and the C40 Cities Climate Leadership Group) formed, through which municipal governments
                co-operate internationally, and a whole host of partners
                from the private sector to civil society are getting involved
                in trying to address climate change at the urban level.
                </br>
                </br>
                Part of the reason for this shift is a change in how climate change is seen as a policy problem. Rather than
                focusing on targets for reducing greenhouse gas emissions, we now see an increasing emphasis on the need for
                decarbonisation, i.e., for uncoupling economic growth and social well-being from the use of fossil carbon-based
                fuels. As this requires more systematic change across urban areas and
                infrastructure networks, there has been a shift in how and where climate governance is taking place in the city.
                </br>
                </br>
                Looking at climate governance in this way has helped us to recognise a new phenomenon – the growth of urban
                <strong> experiments designed to respond to climate change</strong>>. Why is experimentation taking place as a means of governing
                climate change at the urban scale?
            </p>

            <!--Enumerated list (table)-->
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Municipal governments.</div>
                  <p class="text-right">
                      <strong>Municipal governments</strong> have limited powers to act on climate change alone and need to
                      develop projects or specific interventions that attract other organisations to work with them.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Private sector and community actors.</div>
                  <p class="text-right">
                      <strong>Private sector and community actors</strong> also find urban environments an important site for
                      action, but lack the power or capacity to intervene at the level of the city as a whole.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Projects.</div>
                  <p class="text-right">
                      <strong>Projects</strong> that might have taken place in the past without being thought about in climate
                      change terms are increasingly seen through a climate change lens. In a sense, climate change has 
                      come to be a ubiquitous reason for taking different and disparate forms of action at the urban level.
                  </p>
                </div>
              </li>
            </ol>

            <!--External link-->
            <div class="external_links_css">
                <p>
                    Some links about experiments taken place in urban areas:
                </p>
                <div class="container_buttons_links_external_links_css">
                   <div class="btn">
                       <a href="https://wwf.panda.org/our_work/our_focus/projects/one_planet_cities/" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">One planet cities WWF</a>
                   </div>
                   <div class="btn">
                        <a href="https://iclei.org/" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">ICLEI - Local Governments for Sustainability</a>
                   </div>
                    <div class="btn">
                        <a href="https://www.c40.org/" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Cities C40</a>
                   </div>
                </div>
            </div>

            <div class="external_links_css">
                <p>
                    Some useful reports about urban design in cities:
                </p>
                <div class="container_buttons_links_external_links_css">
                   <div class="btn">
                       <a href="https://www.lse.ac.uk/cities" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">LSE cities</a>
                   </div>
                   <div class="btn">
                        <a href="https://www.lse.ac.uk/cities/publications/research-reports/Copenhagen-Green-Economy-Leader-Report" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">LSE Cities, Copenhagen</a>
                   </div>
                    <div class="btn">
                        <a href="https://www.lse.ac.uk/cities/publications/research-reports/Stockholm-Green-Economy-Leader-Report" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">LSE Cities, Stockholm</a>
                   </div>
                </div>
            </div>
        </div>
    </section>

<!--Section 3 (white)-->
    <section id="infrastructure" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">

        <div class="container">
            <h2>Urban infrastructure and planning</h2>
            <p>
                Municipal and city planners are challenged with how to plan structural transformations and they are 
                exploring how urban infrastructure can play a part in greening the economy. Urban infrastructure is the basic 
                physical and organizational structures
                needed for the operation of a city or urban area. It is also the <strong>services and facilities</strong> necessary
                for society and the economy to function. This can include <strong>infrastructure</strong> for water, waste, shelter,
                energy, telecommunications, and mobility, including streets, buildings, sewers, parks and energy systems. 
                Importantly, urban infrastructure can advance sustainability and green economies, or, adversely, it can lock in unsustainable
                systems and prevent sustainable urban transformation.
                </br>
                </br>
                To learn more about infrastructure and planning, <strong>urban mobility</strong>
                is a good example to examine.
            </p>

            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <p class="text-right">
                        In 2013, there were over 5,000 electric vehicles in the urban
                        area of <strong>Oslo</strong> in Norway. Electric vehicles in Norway are powered by hydro-electricity, resulting in low emissions, improved air quality and less noise. The city council hopes to grow the numbers of electric vehicles through innovative
                        policy and additional infrastructure, for example by continuing
                        to add to the over 700 public and free charging stations
                        already provided in the city. The City of Oslo leads by example in buying only zero emission electric vehicles for its
                        municipal fleet. Electric vehicles are also encouraged through
                        city transport rules allowing them to use bus transit lanes as
                        well as national level taxes on fossil fuels and road charge
                        exemptions for electric vehicles. Of course, electric vehicles
                        help with reducing emissions, but congestion still remains a
                        challenge. For this reason, the City of Oslo is also working
                        with its public transportation system.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <p class="text-right">
                        Greener city planning encourages people to act sustainably
                        without thinking about the environment. For example, in
                        <strong>Copenhagen</strong>, most people bike for the convenience of it,
                        rather than its environmental benefits. In fact, the top two
                        reasons for biking in the city are said to be convenience and
                        health. The environment is number three. This is made possible
                        by making biking as convenient as possible and giving it
                        priority in planning across Copenhagen.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <p class="text-right">
                        In order to make public transport a competitive alternative
                        that can take you conveniently from your front door to your
                        intended destination, <strong>the connection between different sustainable
                            transport modes needs to be as seamless as possible</strong>.
                        An important challenge is to build transport hubs where, for
                        example, bus, train and subway stations are located next to
                        each other, preferably with access to convenient bicycle par
                        king
                        nearby.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <p class="text-right">
                        Another possibility is to integrate <strong>information
                            and communication technology</strong> with public transport and
                        to provide passengers with real-time information and other
                        online services.
                  </p>
                </div>
              </li>
            </ol>

            <!--External link-->
            <div class="external_links_css">
                <p>
                    Some links to study urban infrastructure and planning:
                </p>
                <div class="container_buttons_links_external_links_css">
                   <div class="btn">
                       <a href="https://www.youtube.com/watch?v=Bcz87XTyDi8" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Oslo</a>
                   </div>
                   <div class="btn">
                        <a href="https://eiuperspectives.economist.com/sustainability/european-green-city-index" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">City index, The Economist</a>
                   </div>
                   <div class="btn">
                        <a href="https://assets.new.siemens.com/siemens/assets/api/uuid:fddc99e7-5907-49aa-92c4-610c0801659e/european-green-city-index.pdf" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">European Green City Index</a>
                   </div>
                </div>
            </div>
        </div>
    </section>

<!--Section 4 (Grey)-->
    <section id="neighbourhoods" class="p-5 p-lg-5 pt-lg-5 text-white text-center text-sm-start", style="background-color:#6c757d;">
        <div class="container">

            <h2>Sustainable neighbourhoods</h2>
            <p>
                Sustainable lifestyles and neighbourhoods can have an
                impact on sustainable urban development overall. The
                lifestyles of eco-villages (often developed in rural contexts
                with strong sustainability principles) are increasingly utilised
                in mainstream practice in sustainable urban development
                in Scandinavia. In contrast to rural eco-villages, cities and
                sustainable neighbourhoods concentrate higher numbers of
                people in one area, which enables more sustainable services
                like public transportation and recycling.
                </br>
                </br>
                We have introduced the example of the Western Harbour in
                Malmö, Sweden, as a leading sustainable neighbourhood.
                The Western Harbour was formerly contaminated industrial
                land which housed a variety of warehouses and factories.
                The area has since been re-designed as a new neighbourhood
                with good public transport links and pedestrian and
                cycle ways to discourage car dependency. There are a
                mix of buildings for different uses around squares where
                people can gather. There are systems for managing waste
                and water sustainably, and renewable energy technologies
                integrated in the area.
                </br>
                </br>
                Four <strong>key principles</strong> characterising
                sustainable neighbourhoods:
            </p>

            <!--Enumerated list (table)-->
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Energy systems.</div>
                  <p class="text-right">
                        Most sustainable neighbourhoods have
                        shared ownership of renewable energy technologies and
                        low energy demands. For example, residents can build and
                        live in passive energy-saving multi-dwelling buildings. They
                        can have adopted innovative solutions to reduce resource use
                        and stimulate recycling, and they manage water and waste
                        resources sustainably.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Socio-economic balance.</div>
                  <p class="text-right">
                        Sustainable neighbourhoods
                        often have local – and organic – food cooperatives which are
                        run by residents. These neighbourhoods often have a strong
                        ”social ecology” element that includes direct democracy,
                        transparency and tolerance. They can have trading systems
                        in which local goods and services are traded without the use
                        of money. Furthermore, they have a strong emphasis on the
                        local economy and the local community.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Transport and mobility.</div>
                  <p class="text-right">
                        Many sustainable neighbourhoods
                        have efficient public transport connections and might
                        not even allow cars in the area. They promote cycling and
                        walking, and they plan for a compact building layout in order
                        to minimise travel distances. Transport and mobility is therefore
                        closely connected to the urban design and planning of
                        sustainable neighbourhoods.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Urban design.</div>
                  <p class="text-right">
                        Most sustainable neighbourhoods have
                        multi-purpose community spaces that promote a variety
                        of social activities, such as central plazas where people can
                        meet, green spaces, public spaces, pedestrian streets, and
                        bike trails. Overall, the design of sustainable neighbourhoods
                        is critical to achieving goals on energy, socio-economic
                        balance and transport.
                  </p>
                </div>
              </li>
            </ol>

            <!--External link-->
            <div class="external_links_css">
                <p>
                    Some links about successful sustainable neighbourhood experiences:
                </p>
                <div class="container_buttons_links_external_links_css">
                   <div class="btn">
                       <a href="https://www.youtube.com/watch?v=6yZYXSsWnsg" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Mälmo, Europe's first carbon neutral neighbourhood</a>
                   </div>
                    <div class="btn">
                       <a href="https://www.pps.org" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Project for Public Spaces</a>
                   </div>
                </div>
            </div>


        </div>
    </section>


    
{% endblock content %}