let correct_vs_incorrect_chart_q10 = new Chart(correct_vs_incorrect_q10, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q10}}, {{incorrect_q10}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 5, Q10",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })
