{% extends "layout.html" %}
{% block content %}
{% if current_user.email=='mblazquezdepaz@yahoo.es' %}
    <section id="introduction" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="select_statistics_css">
                <h3 style="justify-content:center;">Statistics</h3>
                <p>Select the exercise to visualize your statistics:
                </p>
                <div class="container_buttons_statistics_css">
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch1') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch1</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch2') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch2</a
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch3') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch3</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch4') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch4</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch5') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch5</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch6') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch6</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="statistics_css">
                <div class="box">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">User</th>
                                <th scope="col">Date</th>
                                <th scope="col">Module</th>
                                <th scope="col">Chapter</th>
                                <th scope="col">Question Number</th>
                                <th scope="col">Result</th>
                                <th scope="col">Link Exercise</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries %}
                                <tr>
                                    <th scope="row">{{ current_user.username }}</th>
                                    <td>{{ entry.date_exercise.strftime("%m-%d-%Y") }}</td>
                                    <td>{{ entry.title_mo }}</td>
                                    <td>{{ entry.title_ch }}</td>
                                    <td>{{ entry.question_num }}</td>
                                    <td>{{ entry.question_result }}</td>
                                    <td><a href="{{ url_for('se_module.se_web_ch4') }}" class="btn btn-outline-info btn-sm">Link</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect"></canvas>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="select_statistics_css">
                <h3 style="justify-content:center;">Statistics (Summary all the students)</h3>
            </div>
        </div>

        <div class="container">
            <div class="statistics_summary3_css">
                <div class="box">
                    <canvas id="correct_vs_incorrect_q1"></canvas>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect_q2"></canvas>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect_q3"></canvas>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="statistics_summary3_css">
                <div class="box">
                    <canvas id="correct_vs_incorrect_q4"></canvas>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect_q5"></canvas>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect_q6"></canvas>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="statistics_summary3_css">
                <div class="box">
                    <canvas id="correct_vs_incorrect_q7"></canvas>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect_q8"></canvas>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect_q9"></canvas>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="statistics_summary3_css">
                <div class="box">
                    <canvas id="correct_vs_incorrect_q10"></canvas>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect_q11"></canvas>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect_q12"></canvas>
                </div>
            </div>
        </div>

    </section>


    {% block javascript1 %}
    <script>
        Chart.scaleService.updateScaleDefaults('linear', {
                ticks: {
                    min: 0
                }
        });
        let correct_vs_incorrect_chart = new Chart(correct_vs_incorrect, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct}}, {{incorrect}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

        let correct_vs_incorrect_chart_q1 = new Chart(correct_vs_incorrect_q1, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q1}}, {{incorrect_q1}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q1",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q2 = new Chart(correct_vs_incorrect_q2, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q2}}, {{incorrect_q2}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q2",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q3 = new Chart(correct_vs_incorrect_q3, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q3}}, {{incorrect_q3}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q3",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q4 = new Chart(correct_vs_incorrect_q4, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q4}}, {{incorrect_q4}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q4",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q5 = new Chart(correct_vs_incorrect_q5, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q5}}, {{incorrect_q5}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q5",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q6 = new Chart(correct_vs_incorrect_q6, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q6}}, {{incorrect_q6}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q6",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q7 = new Chart(correct_vs_incorrect_q7, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q7}}, {{incorrect_q7}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q7",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q8 = new Chart(correct_vs_incorrect_q8, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q8}}, {{incorrect_q8}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q8",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q9 = new Chart(correct_vs_incorrect_q9, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q9}}, {{incorrect_q9}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q9",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q10 = new Chart(correct_vs_incorrect_q10, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q10}}, {{incorrect_q10}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q10",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q11 = new Chart(correct_vs_incorrect_q11, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q11}}, {{incorrect_q11}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q11",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let correct_vs_incorrect_chart_q12 = new Chart(correct_vs_incorrect_q12, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct_q12}}, {{incorrect_q12}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6, Q12",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })
    </script>
    {% endblock%}

{% else %}
    <section id="introduction" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="select_statistics_css">
                <h3 style="justify-content:center;">Statistics</h3>
                <p>Select the exercise to visualize your statistics:
                </p>
                <div class="container_buttons_statistics_css">
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch1') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch1</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch2') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch2</a
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch3') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch3</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch4') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch4</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch5') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch5</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('statistics.statistics_se_ch6') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch6</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="statistics_css">
                <div class="box">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">User</th>
                                <th scope="col">Date</th>
                                <th scope="col">Module</th>
                                <th scope="col">Chapter</th>
                                <th scope="col">Question Number</th>
                                <th scope="col">Result</th>
                                <th scope="col">Link Exercise</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries %}
                                <tr>
                                    <th scope="row">{{ current_user.username }}</th>
                                    <td>{{ entry.date_exercise.strftime("%m-%d-%Y") }}</td>
                                    <td>{{ entry.title_mo }}</td>
                                    <td>{{ entry.title_ch }}</td>
                                    <td>{{ entry.question_num }}</td>
                                    <td>{{ entry.question_result }}</td>
                                    <td><a href="{{ url_for('se_module.se_web_ch4') }}" class="btn btn-outline-info btn-sm">Link</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box">
                    <canvas id="correct_vs_incorrect"></canvas>
                </div>
            </div>
        </div>
    </section>


    {% block javascript2 %}
    <script>

        Chart.scaleService.updateScaleDefaults('linear', {
                ticks: {
                    min: 0
                }
        });


        let correct_vs_incorrect_chart = new Chart(correct_vs_incorrect, {
                type: 'pie',
                data: {
                labels: ['correct', 'incorrect'],
                    datasets: [{
                        label: "Correct Vs Incorrect",
                        data: [{{correct}}, {{incorrect}}],
                        backgroundColor: ['#f2935c', '#f2d95c'],

                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Sustainable Energy, Chapter 6",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })


    </script>
    {% endblock%}
{% endif %}


{% endblock content %}