{% extends "layout.html" %}
{% block content %}

    <!-- Header -->
    <!-- Header -->
    <section>
        <header class="header_css", style="background-color=#f2d95c">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                  <div class="col-lg-7 col-md-7 col-sm-6 col-12">
                    <h1><span class="text-warning"> Dashboards and economic analysis</span></h1>
                    Real time information, data analysis, and economic simulations play a crucial role to infer insightful
                    policy recommendations and to take the right decisions.
                    </br>
                    </br>
                    I provide some relevant dashboards with real time information in key markets as
                    the <strong>spot electricity pricing market</strong>, the <strong>forward electricity market</strong>, or the <strong>carbon emissions market</strong>.
                    I also provide information about <strong>congestion in the transmission lines.</strong>
                    </br>
                    </br>
                    Finally, I provide some <strong>theoretical simulations</strong> about key papers that analyze salient and actual topics
                    in the design of <strong>electricity markets for the green economy.</strong>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-5 col-12">
                      <img src="{{url_for('static', filename='figures/dashboards/dashboard_home_icon.svg')}}" alt=""/>
                  </div>
                </div>
            </div>
        </header>
    </section>


<!--Developer-->
  <section id="developer">
        <div class="container">

            <div class="section_developers2_css">
                <div class="box">
                    <h5 class="card-title mb-3">Spot and GO markets</h5>
                    <div class="card-body text-center">
                        <div class="container_buttons_developers">
                           <div class="btn">
                               <a href="/spot_go/" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Dashboard</a>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h5 class="card-title mb-3">Zonal markets with redispatch</h5>
                    <div class="card-body text-center">
                        <div class="container_buttons_developers">
                           <div class="btn">
                               <a href="/zonal_redispatch/" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Dashboard</a>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="box">

                </div>
            </div>

        </div>
  </section>



{% endblock content %}